/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --bg-color: #D9D9D9;
}

.fa-solid.fa-location-dot{
    color: black;
}


.fa-solid.fa-magnifying-glass {
    color: white;
    display: none;
}

.fa-solid {
    color: var(--main-color);
}



input {
    all: unset;
}

button {
    all: unset;
}

p{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
ul {
    padding: 0px;
    margin: 0px;
}


li {
    list-style-type: none;
    padding: 20px  5px;
}


/** head **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0px 10px 0px;
}

header ul {
    gap:20px;
}

header svg {
    width: 60px;
}

header > ul{
    display: flex;
    flex-direction: row;
    vertical-align:text-bottom
}

header > ul > li {
    /* padding: 0px 5px; */
    text-align: center;
   
}

header li:hover {
    color: blue;
    border-top: solid 2px blue;
}

/* header li:focus {
    color: blue;
    border-top: solid 2px blue;
} */

.bar {
    margin: 15px 0px;
    display: inline-block;

}

.barItem{
    padding: 10px 15px;
}


.bar input, .bar button {
    margin: 0;
    padding: 0;
}

.border {
    display: flex;
    /* border: var(--main-bg-color) solid 2px; */
    align-items: center;
    justify-content: center;
}

.barItem:first-child {
    border: var(--main-bg-color) solid 0.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-bg-color);

}

.barItem:nth-last-child(2){
    border-top: var(--main-bg-color) solid 0.5px;
    border-bottom:  var(--main-bg-color) solid 0.5px;;
    text-align: center;
}

.barItem:last-child {
    border: var(--main-color)solid 0.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

.filtres {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 10px; */
    align-items: center;
    justify-content:baseline;
    margin: 30px 0px;
}

.filtresInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.filter {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 50px;
    height: 40px;
    text-wrap: nowrap;
}

.filtresInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 20px;
    
}

.filterInfo {
   
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 50px;
    height: 40px;
    margin: 0px 0px;
}

.filter h3 {
    margin: 0px;
} 

.filter:hover {
    background-color: var(--filter-bg-color);
}

.search form {
    margin-top: 20px;
}

.search h2 {
    margin: 10px 0px ;
}

.search h4 {
 margin: 0;
 font-weight: 400;
}

.iconblue {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px;
    gap: 10px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    /* width: 100%; */
    justify-content:space-around;
    align-items: center;
    /* gap: 5px; */
}

.hebergements-cards .card {
    margin-top: 33px;
    margin: 0px 5px;
    /* flex-direction: row; */
    flex: 1 1 0;
    /* justify-content: space-around; */
    min-width: 240px;
   min-height: 180px;
   /* width: 100%; */

}

.hebergements-cards img {
    height: 100px;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* max-width: 200px; */
    text-align: center;
    object-fit:cover

}

.hebergements :last-child {
margin: 10px 0px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title, .hebergements-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex: 1 0 auto;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/** Activites **/

.activites {
    display: flex;
    flex-direction: row;

}

.activites .card{
   flex: 1 1 0;
   margin: 0px 10px ;
}

.activites img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:99%;
    height: 300px;
    object-fit: cover;
}

.activites .card-title {
    padding-left: 10px;
}

/** Footer **/

footer {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 10px;
    margin-top: 50px;

}

footer div {
    width: 33%;
}

footer li{
    padding: 5px 0px;
}

footer h3 {
    padding: 10px 0px;
   margin: 0px;
}

footer h2 {
    margin: 10px 0px;
}


/** responsive **/

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    /*     put your css */
    }
    
    
    /* Normal desktop :992px. */
    @media (min-width: 1023px) and (max-width: 1200px) {
    
      /*     put your css */
    }
    
     
    /* Tablet desktop :768px. */
    @media (min-width: 768px) and (max-width: 1023px) {
    

        .search {
            width: 90%;
        }

        .hebergements-and-populaires {
            flex-direction: column;
            gap: 30px;
            /* flex-wrap: wrap; */
  
        }
        .hebergements {
            flex: 1 0 100%;
            width: 100%;
            
        }

        .populaires:first-of-type {
            display: block
        }

        .populaires {
            width: 100%;
            flex: 1 1 0;
        }

        .populaires-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

        .populaires .card {
            max-width: 240px;
        }

        .activites .card {
            align-items: center;
        }

    }
    /* small mobile :320px. */
    @media (max-width: 767px) {


        body {
            padding: 0px;
            margin: 0px;
        }
        main {
            display: flex;
            flex-direction: column;
        }

        .main-container {
            padding: 0px 0px;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        header ul {
            width: 100%;
      
            display: flex;
            justify-content:stretch;
            flex: 1 0 50%;
        }

        header ul li {
         min-width:50%;
        }
    
            .hebergements-and-populaires {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        header li:hover {
            /* color: blue; */
            border-bottom: solid 2px blue;
            border-top: none;
        }
        
   
        .hebergements {
            /* flex: 1 0 100%; */
            width: 100%;
            
        } 

        .hebergements img {
            object-fit: cover;
            min-height: 200px;
        }
        .filtres :first-child{
           
        text-align: left;
        padding-left: 10px;
        }
        .hebergements-cards{
            display: block;
        }


        .hebergements .card {
            width: 100%;
        }

        .populaires {
            flex: 1 0 100%;
            width: 100%;
        }

        .filtres {
            display: flex;
            /* flex-direction: column; */
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex: 50%;
            width: 100%;

        }

        .filter{ 
            min-width: 200px;
            height: 50px;
           text-align: center;
        }

        .activites {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
          
        }

        .activites .card {
            width: 90%;
    
        }

        .activites .card img {
            width: 100%;
            max-height:  220px;
        }

        footer {
            text-wrap: nowrap;
            flex-direction: column;
        }
        
        .search {
            width: 100%;
            display:flex;
            flex-direction: column;
            text-align:left;
            align-content: center;
       
            
        }

        .search h2 {
            text-align: justify;
            overflow-wrap: break-word;
            margin: 0px 20px 0px 20px;
            font-size: 4.3vw;
        }

        .search h2::after {
            content: "";
            display: inline-block;
            width: 100%;
        }

        .search h4 {
            font-weight: 400;
            margin: 0px 20px;
            text-align:left;
            overflow-wrap: break-word;  
        }

        .search form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* max-width: 200px; */
        }

        .border {
            width: 100%;
        }

        .fa-solid.fa-magnifying-glass {
            color: white;
            display: contents;
        }

        .searchtext {
            display: none;
        }

        .bar {
            display: block;
            width: 100%;
        }

        .barItem:nth-last-child(2){
            min-width: 70%;
        }

        .iconblue {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            margin: 0px 10px;
            text-align: center;
        }

        .barItem:last-child{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        header ul {
            gap: 0px
        }
    }

    


